body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Estilo del contenedor del logo */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo de la imagen del logo */
.logo {
    max-width: 150px; /* Puedes ajustar el tamaño del logo */
    height: auto;
}


h1, h2 {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

#taskForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.checklist {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: green;
}

button.complete-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.complete-btn:hover {
    background-color: #007BB5;
}
